/************ General Styles *************/

.hero-page {
    background-image: url('../images/img_background.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    max-height: 150vw;
}

.hero-page-content {
    width: 100%;
    height: 100%;
}

.header-bar {
    ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ffffff;
        border-bottom: 1px solid #e7e7e7;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: #000000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: 200;
    }

    li a:hover {
        background-color: #f3f3f3;
    }
}

.mlh-badge {
        display: block;
        max-width: 100px;
        min-width: 60px;
        position: absolute;
        right: 10px;
        top: 0px;
        width: 7%;
        z-index: 100;
}

.web-logo {
    position: relative;
    top: 106px;
    img {
        display: block;
        width: 100%;
    }
}

.date-xs-screens {
    text-align: center;
    font-size: 6vw;
    font-weight: 200;
}

.date-sm-screens {
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
}

.date-md-screens {
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
}

.apply-button {
    margin-top: 10vh;
    text-align: center;
}

.apply-button-xs, .apply-button-sm, .apply-button-md {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 8px;
    box-shadow: 0 9px #999999;
}

.apply-button-xs {
    padding: 7px 13px;
    font-size: 4vw;
}

.apply-button-sm {
    padding: 10px 17px;
    font-size: 3vw;
}

.apply-button-md {
    padding: 15px 25px;
    font-size: 2vw;
}

.apply-button-xs:hover, .apply-button-sm:hover, .apply-button-md:hover {
    background-color: #DC143C;
    text-decoration: none;
    color: #FFFFFF;
}

.apply-button-xs:active, .apply-button-sm:active, .apply-button-md:active {
  background-color: #DC143C;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}

.center-media {
    text-align: center;
}