/************ All-Page Styles *************/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@font-face {
  font-family: 'Avenir Black';
  src: url(../fonts/Avenir-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Avenir Book';
  src: url(../fonts/Avenir-Book.ttf) format("truetype"); }
@font-face {
  font-family: 'Avenir Medium';
  src: url(../fonts/Avenir-Medium.ttf) format("truetype"); }
a:hover {
  transition: .6s; }

/************ Section Styles *************/
.parallax {
  min-height: 100vw;
  height: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center; }

.scrolling {
  min-height: 100%; }

.hero {
  background-image: url("../images/img_background.png");
  min-height: 100%; }

#hackathon-date p {
  font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.navbar {
  background-color: #FFFFFF;
  border: 0px solid #333;
  text-transform: uppercase; }

.navbar-default .navbar-nav {
  font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .navbar-default .navbar-nav li a {
    color: #333; }
  .navbar-default .navbar-nav li a:hover {
    color: #af2628; }

.web-logo {
  position: relative;
  top: 106px; }
  .web-logo img {
    display: block;
    width: 100%; }

.hackathon-date {
  text-align: center;
  font-size: 6vw;
  font-weight: 200; }

.apply-button-div {
  margin-top: 10vh;
  text-align: center; }

.apply-button {
  font-family: 'Avenir Medium', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #FFFFFF;
  border: 3px solid #FFFFFF;
  transition: .6s; }

.apply-button:hover {
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  border: 3px solid #333;
  color: #333; }

.center-media {
  text-align: center; }

.about {
  background: #FFFFFF;
  padding: 30px 0; }
  .about h1 {
    text-transform: uppercase;
    color: #b7b7b7;
    font-family: 'Avenir Book', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  .about p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: #333;
    line-height: 1.8em; }
  .about strong {
    font-weight: 700; }
  .about .divider {
    border-bottom: 2px solid #333;
    width: 50px;
    margin: 10px 0 20px 0; }

/************* Mobile First Design **********/
/* 480+ (xs+) */
@media only screen and (min-width: 480px) {
  .parallax {
    height: 100vw; }

  .apply-button {
    padding: 7px 13px;
    font-size: 4vw; }

  .hackathon-date {
    font-size: 6vw; } }
/* 768+ (sm+) */
@media only screen and (min-width: 768px) {
  .parallax {
    height: auto; }

  .apply-button {
    padding: 10px 17px;
    font-size: 3vw; }

  .hackathon-date {
    font-size: 3vw; } }
/* 992+ (md+) */
@media only screen and (min-width: 992px) {
  .apply-button {
    padding: 10px 20px;
    font-size: 2vw; }

  .hackathon-date {
    font-size: 2vw; } }
@media (min-width: 1200px) {
  .container {
    max-width: 970px; } }

/*# sourceMappingURL=styles.css.map */
